#query_form
{
position: relative;
margin-top: 150px;
margin-left: 475px;
}

.content_div
{
width: 850px;
margin-left: 150px;
margin-right: 150px;
}

.image_div, .form_div
{
width: 400px;
height: 100px;
float: left;
}

.form_div
{
margin-top: 20px;
}

.bottom
{
margin-bottom: 0;
}

.doc_subtitle_div
{
width: 650px;
float: left;
}

.aut_subtitle_div
{
width: 200px;
float: left;
}

.doc_result_div
{
width: 650px;
float: left;
}

.aut_result_div
{
width: 200px;
float: left;
}

.text_div
{
padding: 15px;
}

.result_div
{
clear: both;
background-color: #ececec;
padding: 4px;
}
